@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --primary-color: #669eb3; */
  --primary-color: #0f1035;
  --secondary-color: #171d35;
  --secondary-color-light: #103664;
  --text-color-dark: #171d35;
  --text-color-light: #f6f5f5;
  --n-color: #ff7509;
  --accent-color: #f1a903;
  --accent-hover-color: #eb5b00;
  --accent-color-dark: #df4b4b;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: var(--n-color) !important;

  &:hover {
    background-color: var(--accent-hover-color);
  }
}

.n-step-indicator {
  background-color: var(--accent-color-dark) !important;
    box-shadow: 0 0 0 1px var(--accent-color-dark) !important;
}

.n-step-splitor {
  background-color: var(--accent-color-dark) !important;
}

.n-step-content-header__title{
  font-weight: 700;
  font-size: 18px;
}

.bg-accent-dark {
  background-color: var(--accent-color-dark) !important;
}

a {
  font-weight: 500;
  color: #e6e6e6;
  text-decoration: inherit;
}
a:hover {
  color: #fff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: background-color 0.3s ease;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--secondary-color);
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.dashboard-content {
  flex: 1;
  transition: margin-left 0.3s ease-in-out;
}

.dashboard-content.shrink {
  margin-left: 92px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.h1,
.h2,
.h3 {
  color: var(--textColor1); /* Colore principale del testo */
}

.p {
  color: var(--textColor2); /* Colore secondario del testo */
}

.h4,
.h5,
.h6 {
  color: var(--textColor3); /* Colore di supporto del testo */
}

.position-relative {
  position: relative;
}

:deep(.n-modal) {
  background: var(--secondary-color);
}